<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>


	<dict>
		<key>name</key>
		<string>人名用漢字</string>
		<key>list</key>
		<array>

			<string>uni4E11</string>
			<string>uni4E1E</string>
			<string>uni4E43</string>
			<string>uni4E4B</string>
			<string>uni4E4E</string>
			<string>uni4E58</string>
			<string>uni4E5F</string>
			<string>uni4E91</string>
			<string>uni4E99</string>
			<string>uni4E98</string>
			<string>uni4E9B</string>
			<string>uni4E9E</string>
			<string>uni4EA5</string>
			<string>uni4EA6</string>
			<string>uni4EA8</string>
			<string>uni4EAE</string>
			<string>uni4F86</string>
			<string>uni4ED4</string>
			<string>uni4F0A</string>
			<string>uni4F0D</string>
			<string>uni4F3D</string>
			<string>uni4F43</string>
			<string>uni4F51</string>
			<string>uni4F36</string>
			<string>uni4F5B</string>
			<string>uni4F83</string>
			<string>uni4F91</string>
			<string>uni4FC4</string>
			<string>uni4FE3</string>
			<string>uni4FD0</string>
			<string>uniFA30</string>
			<string>uni4FE0</string>
			<string>uni5016</string>
			<string>uni502D</string>
			<string>uni4FF1</string>
			<string>uni5026</string>
			<string>uni5072</string>
			<string>uni50AD</string>
			<string>uni50B3</string>
			<string>uni50DE</string>
			<string>uniFA31</string>
			<string>uni50F9</string>
			<string>uni5109</string>
			<string>uni5132</string>
			<string>uni5141</string>
			<string>uni5C2D</string>
			<string>uni514E</string>
			<string>uni5152</string>
			<string>uni515C</string>
			<string>uni5176</string>
			<string>uni5DFD</string>
			<string>uni51A8</string>
			<string>uni51B4</string>
			<string>uni51CC</string>
			<string>uni51C9</string>
			<string>uni51DB</string>
			<string>uni51DC</string>
			<string>uni51F1</string>
			<string>uni51E7</string>
			<string>uni51EA</string>
			<string>uni51F0</string>
			<string>uni51FD</string>
			<string>uni5269</string>
			<string>uni5289</string>
			<string>uni528D</string>
			<string>uni52AB</string>
			<string>uni52C1</string>
			<string>uniFA33</string>
			<string>uniFA34</string>
			<string>uni52F3</string>
			<string>uni52FA</string>
			<string>uni52FF</string>
			<string>uni5301</string>
			<string>uni5321</string>
			<string>uni5EFF</string>
			<string>uniFA35</string>
			<string>uni535C</string>
			<string>uni536F</string>
			<string>uni5377</string>
			<string>uni537D</string>
			<string>uni537F</string>
			<string>uni53A9</string>
			<string>uni53A8</string>
			<string>uni53C9</string>
			<string>uni53E1</string>
			<string>uni53E2</string>
			<string>uni53F6</string>
			<string>uni53EA</string>
			<string>uni543E</string>
			<string>uni543B</string>
			<string>uni541E</string>
			<string>uni54C9</string>
			<string>uni54E8</string>
			<string>uni5544</string>
			<string>uni54E9</string>
			<string>uni55AC</string>
			<string>uni55B0</string>
			<string>uni55A7</string>
			<string>uni558B</string>
			<string>uni55AE</string>
			<string>uni5629</string>
			<string>uni5609</string>
			<string>uni5617</string>
			<string>uni564C</string>
			<string>uniFA37</string>
			<string>uni5642</string>
			<string>uniFA38</string>
			<string>uni56B4</string>
			<string>uni5703</string>
			<string>uni5708</string>
			<string>uni570B</string>
			<string>uni5713</string>
			<string>uni5718</string>
			<string>uni572D</string>
			<string>uni5750</string>
			<string>uni5766</string>
			<string>uni57F4</string>
			<string>uni5835</string>
			<string>uni57DC</string>
			<string>uni5830</string>
			<string>uni583A</string>
			<string>uni582F</string>
			<string>uni5859</string>
			<string>uni589E</string>
			<string>uniFA3A</string>
			<string>uni58D5</string>
			<string>uni58D8</string>
			<string>uni58DE</string>
			<string>uni58EC</string>
			<string>uni58EF</string>
			<string>uni58FD</string>
			<string>uni5937</string>
			<string>uni5944</string>
			<string>uni594E</string>
			<string>uni5957</string>
			<string>uni5967</string>
			<string>uni596C</string>
			<string>uni5A03</string>
			<string>uni59E5</string>
			<string>uni59EA</string>
			<string>uni5A29</string>
			<string>uni5B09</string>
			<string>uni5B43</string>
			<string>uni5B5C</string>
			<string>uni5B5F</string>
			<string>uni5B8F</string>
			<string>uni5B8B</string>
			<string>uni5B95</string>
			<string>uni5BA5</string>
			<string>uni5BC5</string>
			<string>uni5BD3</string>
			<string>uni5BE6</string>
			<string>uni5BE2</string>
			<string>uni5BEC</string>
			<string>uni5BF5</string>
			<string>uni5C07</string>
			<string>uni5C08</string>
			<string>uni5C16</string>
			<string>uni5C24</string>
			<string>uni5C51</string>
			<string>uniFA3B</string>
			<string>uni5CE8</string>
			<string>uni5CFB</string>
			<string>uni5CEF</string>
			<string>uni5CFD</string>
			<string>uni5D1A</string>
			<string>uni5D6F</string>
			<string>uni5D69</string>
			<string>uni5D8B</string>
			<string>uni5DBA</string>
			<string>uni5DCC</string>
			<string>uni5DD6</string>
			<string>uni5DE2</string>
			<string>uni5DEB</string>
			<string>uni5DF7</string>
			<string>uni5DF3</string>
			<string>uni5DF4</string>
			<string>uni5DF2</string>
			<string>uni5E16</string>
			<string>uni5E36</string>
			<string>uni5E4C</string>
			<string>uni5E61</string>
			<string>uni5E84</string>
			<string>uni5E87</string>
			<string>uni5E9A</string>
			<string>uni5EB5</string>
			<string>uniF928</string>
			<string>uni5EDF</string>
			<string>uni5EE3</string>
			<string>uni5EF3</string>
			<string>uni5EFB</string>
			<string>uni5F18</string>
			<string>uni5F1B</string>
			<string>uni5F48</string>
			<string>uni5F4C</string>
			<string>uni5F57</string>
			<string>uni5F66</string>
			<string>uni5F6A</string>
			<string>uni5F6C</string>
			<string>uni5F9E</string>
			<string>uni5FA0</string>
			<string>uni5FB5</string>
			<string>uni5FB7</string>
			<string>uni5FBD</string>
			<string>uni601C</string>
			<string>uni6062</string>
			<string>uni6070</string>
			<string>uni6046</string>
			<string>uni608C</string>
			<string>uniFA3D</string>
			<string>uni60DF</string>
			<string>uni60DA</string>
			<string>uni60C7</string>
			<string>uni60FA</string>
			<string>uni613C</string>
			<string>uniFA3F</string>
			<string>uni6190</string>
			<string>uni61F7</string>
			<string>uni5FFD</string>
			<string>uni6055</string>
			<string>uni6089</string>
			<string>uni60F9</string>
			<string>uni60E3</string>
			<string>uni60E1</string>
			<string>uni60E0</string>
			<string>uni6167</string>
			<string>uni61C9</string>
			<string>uniFA40</string>
			<string>uni620A</string>
			<string>uni6216</string>
			<string>uni621F</string>
			<string>uni6230</string>
			<string>uni6232</string>
			<string>uni6258</string>
			<string>uni62D4</string>
			<string>uni62C2</string>
			<string>uni6309</string>
			<string>uni633A</string>
			<string>uni63AC</string>
			<string>uni6377</string>
			<string>uni637A</string>
			<string>uni633D</string>
			<string>uni6367</string>
			<string>uni63A0</string>
			<string>uni6372</string>
			<string>uni63C3</string>
			<string>uni641C</string>
			<string>uni63ED</string>
			<string>uni6416</string>
			<string>uni647A</string>
			<string>uni6451</string>
			<string>uni6492</string>
			<string>uni64B0</string>
			<string>uni649E</string>
			<string>uni64AD</string>
			<string>uni64AB</string>
			<string>uni64E2</string>
			<string>uni651D</string>
			<string>uni62DC</string>
			<string>uni64CA</string>
			<string>uni654D</string>
			<string>uni6536</string>
			<string>uniFA41</string>
			<string>uni6566</string>
			<string>uni6590</string>
			<string>uni65A1</string>
			<string>uni65A7</string>
			<string>uni65AF</string>
			<string>uni65BC</string>
			<string>uni65ED</string>
			<string>uni6602</string>
			<string>uni660F</string>
			<string>uni660C</string>
			<string>uni660A</string>
			<string>uni6634</string>
			<string>uni6666</string>
			<string>uni6643</string>
			<string>uni6652</string>
			<string>uni664B</string>
			<string>uni664F</string>
			<string>uni6644</string>
			<string>uni665F</string>
			<string>uni665D</string>
			<string>uni6668</string>
			<string>uni665A</string>
			<string>uni667A</string>
			<string>uni6689</string>
			<string>uniFA43</string>
			<string>uni66A2</string>
			<string>uni66C9</string>
			<string>uni66C6</string>
			<string>uni66D9</string>
			<string>uni66DD</string>
			<string>uni66F3</string>
			<string>uni66FE</string>
			<string>uni670B</string>
			<string>uni6714</string>
			<string>uniF929</string>
			<string>uni674F</string>
			<string>uni6756</string>
			<string>uni675C</string>
			<string>uni674E</string>
			<string>uni6775</string>
			<string>uni676D</string>
			<string>uni6777</string>
			<string>uni6787</string>
			<string>uni67D1</string>
			<string>uni67D8</string>
			<string>uni67CF</string>
			<string>uni67CA</string>
			<string>uni67FE</string>
			<string>uni67DA</string>
			<string>uni6854</string>
			<string>uni6850</string>
			<string>uni6817</string>
			<string>uni6842</string>
			<string>uni67F4</string>
			<string>uni6816</string>
			<string>uni6867</string>
			<string>uni681E</string>
			<string>uni6893</string>
			<string>uni6876</string>
			<string>uni68B6</string>
			<string>uni691B</string>
			<string>uni68A7</string>
			<string>uni68A2</string>
			<string>uni68AF</string>
			<string>uni6881</string>
			<string>uni689D</string>
			<string>uni689B</string>
			<string>uniFA44</string>
			<string>uni68F2</string>
			<string>uni690B</string>
			<string>uni6900</string>
			<string>uni698A</string>
			<string>uni696F</string>
			<string>uni695A</string>
			<string>uni6955</string>
			<string>uni69CC</string>
			<string>uni693F</string>
			<string>uni6962</string>
			<string>uni6960</string>
			<string>uni6953</string>
			<string>uni694A</string>
			<string>uni6930</string>
			<string>uni698E</string>
			<string>uni6A3A</string>
			<string>uni699B</string>
			<string>uni69CD</string>
			<string>uni6A0B</string>
			<string>uni69D9</string>
			<string>uni69AE</string>
			<string>uni69C7</string>
			<string>uni6A2B</string>
			<string>uni6A1F</string>
			<string>uni69FB</string>
			<string>uni6A02</string>
			<string>uni6A23</string>
			<string>uni6A58</string>
			<string>uni6A8E</string>
			<string>uni6A3D</string>
			<string>uni6A59</string>
			<string>uni6A6B</string>
			<string>uni6ADB</string>
			<string>uni6A80</string>
			<string>uni6A9C</string>
			<string>uni6AA2</string>
			<string>uni6AC2</string>
			<string>uni6AD3</string>
			<string>uni6AFB</string>
			<string>uniF91D</string>
			<string>uni6B23</string>
			<string>uni6B3D</string>
			<string>uni76DC</string>
			<string>uni6B4E</string>
			<string>uni6B64</string>
			<string>uni6B65</string>
			<string>uni6B77</string>
			<string>uni6B86</string>
			<string>uni6BC5</string>
			<string>uni6BCF</string>
			<string>uni6BD8</string>
			<string>uni6BEC</string>
			<string>uni6C23</string>
			<string>uni6C40</string>
			<string>uni6C72</string>
			<string>uni6C50</string>
			<string>uni6C5D</string>
			<string>uni6C8C</string>
			<string>uni6CAB</string>
			<string>uni6D32</string>
			<string>uni6D1B</string>
			<string>uni6D38</string>
			<string>uni6D35</string>
			<string>uni6D6C</string>
			<string>uni6D69</string>
			<string>uniFA45</string>
			<string>uni6D89</string>
			<string>uni6DF3</string>
			<string>uni6E1A</string>
			<string>uni6E3E</string>
			<string>uni6DC0</string>
			<string>uni6DCB</string>
			<string>uni6DE8</string>
			<string>uni6DDA</string>
			<string>uni6E25</string>
			<string>uni6E58</string>
			<string>uni6E5B</string>
			<string>uni6DF5</string>
			<string>uni6E4A</string>
			<string>uniFA46</string>
			<string>uni6E34</string>
			<string>uni6EA2</string>
			<string>uni6E9C</string>
			<string>uni6F23</string>
			<string>uni6EC9</string>
			<string>uni6EAB</string>
			<string>uni6F15</string>
			<string>uni6F31</string>
			<string>uni6EEF</string>
			<string>uniFA47</string>
			<string>uni6F81</string>
			<string>uni6FAA</string>
			<string>uni6FE1</string>
			<string>uni6FD5</string>
			<string>uni7027</string>
			<string>uni7028</string>
			<string>uni7015</string>
			<string>uni7058</string>
			<string>uni6C93</string>
			<string>uni7078</string>
			<string>uni707C</string>
			<string>uni711A</string>
			<string>uni7149</string>
			<string>uni7130</string>
			<string>uni7164</string>
			<string>uni714C</string>
			<string>uni71C8</string>
			<string>uni71D2</string>
			<string>uni71CE</string>
			<string>uni71E6</string>
			<string>uni71ED</string>
			<string>uni71FF</string>
			<string>uni70CF</string>
			<string>uniFA48</string>
			<string>uni7199</string>
			<string>uni71D5</string>
			<string>uni722D</string>
			<string>uni7232</string>
			<string>uni723E</string>
			<string>uni7252</string>
			<string>uni725F</string>
			<string>uni7261</string>
			<string>uni727D</string>
			<string>uni7280</string>
			<string>uni72FC</string>
			<string>uni72F9</string>
			<string>uni732A</string>
			<string>uniFA16</string>
			<string>uni7345</string>
			<string>uni72C0</string>
			<string>uni9ED8</string>
			<string>uni7378</string>
			<string>uni7396</string>
			<string>uni73C2</string>
			<string>uni73CA</string>
			<string>uni73B2</string>
			<string>uni73C8</string>
			<string>uni73C0</string>
			<string>uni7422</string>
			<string>uni7409</string>
			<string>uni745B</string>
			<string>uni7436</string>
			<string>uni7435</string>
			<string>uni7433</string>
			<string>uni7425</string>
			<string>uniFA4A</string>
			<string>uni745A</string>
			<string>uni745E</string>
			<string>uni7476</string>
			<string>uni7473</string>
			<string>uni74DC</string>
			<string>uni74E2</string>
			<string>uni7525</string>
			<string>uni752B</string>
			<string>uni7560</string>
			<string>uni7562</string>
			<string>uni758A</string>
			<string>uni758B</string>
			<string>uni758F</string>
			<string>uni7626</string>
			<string>uni7690</string>
			<string>uni7693</string>
			<string>uni76C3</string>
			<string>uni76E1</string>
			<string>uni771E</string>
			<string>uni7738</string>
			<string>uni77A5</string>
			<string>uni77E9</string>
			<string>uni7827</string>
			<string>uni7825</string>
			<string>uni7826</string>
			<string>uni786F</string>
			<string>uni7893</string>
			<string>uni7897</string>
			<string>uni788E</string>
			<string>uniFA4B</string>
			<string>uni78A9</string>
			<string>uni78A7</string>
			<string>uni78D0</string>
			<string>uni78EF</string>
			<string>uni7941</string>
			<string>uni7947</string>
			<string>uni7962</string>
			<string>uni7950</string>
			<string>uni7977</string>
			<string>uni7984</string>
			<string>uni798E</string>
			<string>uni79B0</string>
			<string>uniFA4C</string>
			<string>uniFA4D</string>
			<string>uniFA4E</string>
			<string>uni7955</string>
			<string>uniFA4F</string>
			<string>uniFA50</string>
			<string>uniFA51</string>
			<string>uniFA19</string>
			<string>uniFA1A</string>
			<string>uni797F</string>
			<string>uniFA52</string>
			<string>uniFA53</string>
			<string>uniFA1B</string>
			<string>uni79AA</string>
			<string>uni79AE</string>
			<string>uni79B1</string>
			<string>uni79BD</string>
			<string>uni79BE</string>
			<string>uni79E6</string>
			<string>uni79E4</string>
			<string>uni7A00</string>
			<string>uni7A14</string>
			<string>uni7A1C</string>
			<string>uni7A1F</string>
			<string>uni7A3B</string>
			<string>uniFA54</string>
			<string>uni7A57</string>
			<string>uni7A63</string>
			<string>uni7A70</string>
			<string>uni7A79</string>
			<string>uniFA55</string>
			<string>uni7A84</string>
			<string>uni7A7F</string>
			<string>uni7AAA</string>
			<string>uni7ABA</string>
			<string>uni7AE3</string>
			<string>uni7AEA</string>
			<string>uni7AFA</string>
			<string>uni7AFF</string>
			<string>uni7B08</string>
			<string>uni7B20</string>
			<string>uni7B39</string>
			<string>uni7B19</string>
			<string>uni7B51</string>
			<string>uni7B48</string>
			<string>uni7B94</string>
			<string>uni7B95</string>
			<string>uni7BC7</string>
			<string>uniFA56</string>
			<string>uni7BE0</string>
			<string>uni7C1E</string>
			<string>uni7C3E</string>
			<string>uni7C7E</string>
			<string>uni7C9F</string>
			<string>uni7CA5</string>
			<string>uni7CB9</string>
			<string>uni7CCA</string>
			<string>uni7D18</string>
			<string>uni7D17</string>
			<string>uni7D10</string>
			<string>uni7D43</string>
			<string>uni7D2C</string>
			<string>uni7D46</string>
			<string>uni7D62</string>
			<string>uni7DBE</string>
			<string>uni7D9C</string>
			<string>uni7DB4</string>
			<string>uni7DCB</string>
			<string>uni7DBA</string>
			<string>uni7DB8</string>
			<string>uni7DA0</string>
			<string>uni7DD6</string>
			<string>uni7DE3</string>
			<string>uniFA57</string>
			<string>uni7E1E</string>
			<string>uni7E23</string>
			<string>uni7E31</string>
			<string>uniFA59</string>
			<string>uni7E61</string>
			<string>uni7E6B</string>
			<string>uni7E82</string>
			<string>uni7E8F</string>
			<string>uni7E96</string>
			<string>uniFA5A</string>
			<string>uni7F9A</string>
			<string>uni7FD4</string>
			<string>uni7FE0</string>
			<string>uni8000</string>
			<string>uniFA5B</string>
			<string>uni800C</string>
			<string>uni8036</string>
			<string>uni803D</string>
			<string>uni8061</string>
			<string>uni807D</string>
			<string>uni8087</string>
			<string>uni808B</string>
			<string>uni80B4</string>
			<string>uni80E4</string>
			<string>uni80E1</string>
			<string>uni8129</string>
			<string>uni8154</string>
			<string>uni8139</string>
			<string>uni818F</string>
			<string>uni81DF</string>
			<string>uni81E5</string>
			<string>uniFA5C</string>
			<string>uni8207</string>
			<string>uni821C</string>
			<string>uni8235</string>
			<string>uni82A6</string>
			<string>uni82A5</string>
			<string>uni82B9</string>
			<string>uni82AD</string>
			<string>uni8299</string>
			<string>uni82D1</string>
			<string>uni8304</string>
			<string>uni8305</string>
			<string>uni82D4</string>
			<string>uni82FA</string>
			<string>uni8309</string>
			<string>uni831C</string>
			<string>uni8338</string>
			<string>uni837B</string>
			<string>uni839E</string>
			<string>uni83AB</string>
			<string>uni838A</string>
			<string>uni8389</string>
			<string>uni83D6</string>
			<string>uni83C5</string>
			<string>uni8404</string>
			<string>uni83F1</string>
			<string>uni83E9</string>
			<string>uni840C</string>
			<string>uni83EB</string>
			<string>uni8420</string>
			<string>uni840A</string>
			<string>uni8475</string>
			<string>uni8431</string>
			<string>uni8463</string>
			<string>uni8429</string>
			<string>uni8461</string>
			<string>uni847A</string>
			<string>uni842C</string>
			<string>uniFA5F</string>
			<string>uni8466</string>
			<string>uni84B2</string>
			<string>uni8494</string>
			<string>uni8490</string>
			<string>uni84BC</string>
			<string>uni84EC</string>
			<string>uni84D1</string>
			<string>uni8499</string>
			<string>uni84C9</string>
			<string>uni84EE</string>
			<string>uni852D</string>
			<string>uni8526</string>
			<string>uni8513</string>
			<string>uni8523</string>
			<string>uni854E</string>
			<string>uni8549</string>
			<string>uni8543</string>
			<string>uni856A</string>
			<string>uni8568</string>
			<string>uni8597</string>
			<string>uni8599</string>
			<string>uni8557</string>
			<string>uni857E</string>
			<string>uni85A9</string>
			<string>uni85C1</string>
			<string>uni85CF</string>
			<string>uni85B0</string>
			<string>uni85DD</string>
			<string>uni85E5</string>
			<string>uni8607</string>
			<string>uni862D</string>
			<string>uni865B</string>
			<string>uniF936</string>
			<string>uni8766</string>
			<string>uni8776</string>
			<string>uni87BA</string>
			<string>uni87EC</string>
			<string>uni87F9</string>
			<string>uni881F</string>
			<string>uni885E</string>
			<string>uni887F</string>
			<string>uni88B4</string>
			<string>uni88E1</string>
			<string>uni8956</string>
			<string>uni8888</string>
			<string>uni88DF</string>
			<string>uni88DD</string>
			<string>uni88F3</string>
			<string>uniFA61</string>
			<string>uni89BD</string>
			<string>uni8A0A</string>
			<string>uni8A23</string>
			<string>uni8A3B</string>
			<string>uni8A6B</string>
			<string>uni8A62</string>
			<string>uni8ABC</string>
			<string>uni8ACF</string>
			<string>uni8AD2</string>
			<string>uni8AC4</string>
			<string>uni8B02</string>
			<string>uni8AFA</string>
			<string>uniFA22</string>
			<string>uniFA62</string>
			<string>uni8B20</string>
			<string>uniFA63</string>
			<string>uni8B83</string>
			<string>uni8B93</string>
			<string>uni8C79</string>
			<string>uni8CB0</string>
			<string>uni8CD1</string>
			<string>uniFA64</string>
			<string>uni8CE3</string>
			<string>uni8CF4</string>
			<string>uniFA65</string>
			<string>uni8D73</string>
			<string>uni8DE8</string>
			<string>uni8E44</string>
			<string>uni8E5F</string>
			<string>uni8F14</string>
			<string>uni8F2F</string>
			<string>uni8F3F</string>
			<string>uni8F49</string>
			<string>uni8F5F</string>
			<string>uni8FB0</string>
			<string>uni8FBB</string>
			<string>uni8FC2</string>
			<string>uni8FBF</string>
			<string>uni8FC4</string>
			<string>uni8FE6</string>
			<string>uni8FEA</string>
			<string>uni9022</string>
			<string>uni9017</string>
			<string>uni9019</string>
			<string>uni9041</string>
			<string>uni9065</string>
			<string>uni907C</string>
			<string>uni901E</string>
			<string>uniFA67</string>
			<string>uni9059</string>
			<string>uni90C1</string>
			<string>uni90DE</string>
			<string>uniFA26</string>
			<string>uni912D</string>
			<string>uni9091</string>
			<string>uni9149</string>
			<string>uni9187</string>
			<string>uni9189</string>
			<string>uni9190</string>
			<string>uni918D</string>
			<string>uni91AC</string>
			<string>uni91C0</string>
			<string>uni91C9</string>
			<string>uni91D8</string>
			<string>uni91E7</string>
			<string>uni9291</string>
			<string>uni92D2</string>
			<string>uni92F8</string>
			<string>uni9306</string>
			<string>uni932B</string>
			<string>uni9310</string>
			<string>uni9318</string>
			<string>uni9304</string>
			<string>uni936C</string>
			<string>uni934A</string>
			<string>uni93A7</string>
			<string>uni93AD</string>
			<string>uni9444</string>
			<string>uni9583</string>
			<string>uni958F</string>
			<string>uni95A4</string>
			<string>uni963F</string>
			<string>uni9640</string>
			<string>uni9677</string>
			<string>uni9688</string>
			<string>uni96AA</string>
			<string>uni96BC</string>
			<string>uni96C0</string>
			<string>uni96C1</string>
			<string>uni96DB</string>
			<string>uni96DC</string>
			<string>uniFA68</string>
			<string>uni96EB</string>
			<string>uni971E</string>
			<string>uni9756</string>
			<string>uni975C</string>
			<string>uni9784</string>
			<string>uni978D</string>
			<string>uni9798</string>
			<string>uni97A0</string>
			<string>uni97AD</string>
			<string>uniFA69</string>
			<string>uni9801</string>
			<string>uni980C</string>
			<string>uni9817</string>
			<string>uni985A</string>
			<string>uniF9D0</string>
			<string>uni986F</string>
			<string>uni98AF</string>
			<string>uni98DC</string>
			<string>uni9957</string>
			<string>uni99A8</string>
			<string>uni99B3</string>
			<string>uni99B4</string>
			<string>uni99D5</string>
			<string>uni99C8</string>
			<string>uni99FF</string>
			<string>uni9A37</string>
			<string>uni9A4D</string>
			<string>uni9A57</string>
			<string>uni9AEE</string>
			<string>uni9B41</string>
			<string>uni9B6F</string>
			<string>uni9B8E</string>
			<string>uni9BC9</string>
			<string>uni9BDB</string>
			<string>uni9C2F</string>
			<string>uni9C52</string>
			<string>uni9C57</string>
			<string>uni9CE9</string>
			<string>uni9CF6</string>
			<string>uni9CF3</string>
			<string>uni9D28</string>
			<string>uni9D3B</string>
			<string>uni9D5C</string>
			<string>uni9D6C</string>
			<string>uni9DC4</string>
			<string>uni9DD7</string>
			<string>uni9DF2</string>
			<string>uni9DFA</string>
			<string>uni9DF9</string>
			<string>uni9E92</string>
			<string>uni9E9F</string>
			<string>uni9EBF</string>
			<string>uni9EC3</string>
			<string>uni9ECE</string>
			<string>uni9EDB</string>
			<string>uni9ED1</string>
			<string>uni9F0E</string>
			<string>uni9F4A</string>
			<string>uni9F8D</string>
			
		</array>
	</dict>


</array>
</plist>